// Initial color with name
$black: 					#000000;	// Black
$black_russian: 			#12141c;  	// Black Russian
$black_russian_2: 			#555555;  	// Black Russian 2
$black_russian_3: 			#13152e;  	// Black Russian 3
$soft_black_russian: 		#171921;  	// Soft Black Russian
$blue_violet:               #716aa0;    // Blue Violet
$corn_field: 				#fff9c0; 	// Corn Field
$charcoal: 					#484848;    // Charcoal
$citrus: 					#94b800;	// Citrus
$dim_gray:					#454545;	// Dim Gray
$darkgray: 					#a4a4a4;	// Dark gray
$deep_cerise: 				#e51681;	// Deep Cerise
$eclipse:                   #3c3c3c;    // Eclipse
$zinnwaldite:               #EABEAB;    // Zinnwaldite
$gray:					    #767676;	// Gray
$green2 : 					#00EBAC;    // Green 2
$green: 					#498c2f;    // Green 
$silver_tree: 			    #53B596;    // Silver Tree
$golden: 					#EAAD11;    // golden
$golden_poppy: 				#f8c000;    // Golden Poppy
$gainsboro: 				#dddddd;  	// Gainsboro
$harley_davidson_orange:	#F74A05 ;	// Harley Davidson Orange
$lavender:                  #eeedfd;    // Lavender 
$lochmara: 					#21759b;	// Lochmara
$lucky_paint: 				#252c48;	// Lucky Paint
$medium_slate_blue:         #b588fb;    // Medium Slate Blue
$medium_slate_blue2:        #A368FF;    // Medium Slate Blue 2
$curious_blue:              #7486F6;    // Curious Blue
$matterhorn:				#795548;	// Matterhorn
$midnight_express:			#1b1d38;	// Midnight Express
$nevy: 						#232C3B;    // Nevy blue
$night_rider:               #2d2d2d;    // Night Rider
$nero:   					#191919;	// Nero
$orange:					#b33f1b;	// Orange Color
$snow: 						#EFF2F7;	// Snow
$zumthor: 					#EAF1FF;	// Zumthor
$silver:					#c3c3c3;	// Silver
$white: 					#ffffff;    // White
$white_smoke:				#F4F7FC;	// White Smoke
$white_smoke2:				#EDF3F7;	// White Smoke 2
$suva_grey:				    #efefef;	// Suva Grey
$soft_nero:   				#2a2a2a;	// Soft Nero
$soft_black: 				#181D31;	// Black
$turquoise: 				#27848a;	// Bright Turquoise
$tangerine_yellow: 			#FDCA2E;    // Tangerine Yellow
$yellow: 					#FFCD00;    // yellow
$red: 					    #9b2182;    // red
$red2: 					    #FF3A46;    // red 2
$purple: 			        #8A35E7;    // Purple
$medium_purple: 			#9657F6;    // Medium Purple
$very_light_grey: 			#cccccc;	// Very Light Grey

//Text color
$color_text_main: 			#d3d3d5;    // body text main color
$color__heading: 			#ffffff;    // Heading color
$color__primary: 			#fa163f;    // Primary color
$color__secondary: 			#21252E;    // Secondary color
$color__product: 			#08083C;    // Product bg color
$color__main-bg: 			#1A1D24 ;    // Secondary color
$color__menu-text: 			#282828;	// Menu text color
$color__widget-text: 		#ccd0d5;	// Widget text color
$color__meta: 				#b3b3b3;	// Post meta color
$color__meta-footer: 		#515151;	// Post Footer meta color
$color__meta-widget: 		#8b8b8b;	// Post Footer meta color
$color__footer: 			#21252E;	// Post Footer text-color
$color__novel: 				#999999;	// Color Nobel
$color__ligth-gray: 		#d2d2d2;	// Light Gray

//border color
$color__border-one: 		#2A2D33; 	// Feature background Stock 
$color__border-two: 		#3D414A; 	// wedget border
$color__border-three: 		#EDEDED; 	// Menu after content color
$color__border-four: 		#DADDE3;	// Post heading, widget border-bottom
$color__border-five: 		#e1e1e1;	// Footer Widget border