.user-signup-block {
    position: relative;
}
.user-register-area {
    @media only screen and (max-width: 767px){
        text-align: left !important;
    }
    .default-form {
        .form-group {
            margin-bottom: 40px;
            @media only screen and (max-width: 1199px){
                margin-bottom: 20px;
            }
            label {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;
                @media only screen and (max-width: 767px){
                    font-size: 17px;
                }
            }
        }
    }
    .form-header {
        padding-bottom: 30px;
        .heading {
            font-size: 48px;
            font-weight: 700;
            line-height: 1.15em;
            @media only screen and (max-width: 1199px){
                font-size: 36px;
            }
            @media only screen and (max-width: 575px){
                font-size: 32px;
            }
            @media only screen and (max-width: 480px){
                font-size: 28px;
            }
        }
    }
    .remember-and-password {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 10px 0 35px;
        line-height: 1.2em;
        @media only screen and (max-width: 1199px){
            padding: 5px 0 20px;
        }
        @media only screen and (max-width: 575px){
            display: block;
        }
        .btn-password {
            color: $color__primary;
            &:hover {
                color: $white;
            }
        }
    }
    .login-form-remember {
        @media only screen and (max-width: 575px){
            margin-bottom: 10px;
        }
        label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 0;
            -webkit-box-align: baseline;
                -ms-flex-align: baseline;
                    align-items: baseline;
            font-weight: normal;
            font-size: 16px;
            input {
                height: auto;
            }
            span {
                display: inline-block;
                padding-left: 10px;
                a {
                    color: $color__primary;
                }
            }
        }
    }
    .form-bottom-area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-top: 10px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        .login-form-remember,
        .login-form-register-now {
            max-width: calc(50% - 60px);
            -webkit-box-flex: 0;
                -ms-flex: 0 0 calc(50% - 60px);
                    flex: 0 0 calc(50% - 60px);
            @media only screen and (max-width: 767px) {
                max-width: 100%;
                -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                margin-bottom: 5px;
            }
        }
        .form-btn-group {
            max-width: 120px;
            -webkit-box-flex: 0;
                -ms-flex: 0 0 120px;
                    flex: 0 0 120px;
            @media only screen and (max-width: 767px) {
                max-width: 100%;
                -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                -webkit-box-ordinal-group: 4;
                    -ms-flex-order: 3;
                        order: 3;
                display: block; 
                text-align: left !important;
                padding-top: 20px;
            }
        }
        .login-form-register-now {
            text-align: right;
            @media only screen and (max-width: 767px) {
                text-align: left;
                -webkit-box-ordinal-group: 3;
                    -ms-flex-order: 2;
                        order: 2;
                padding-left: 0;
            }
        }
    }
    .form-btn-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        @media only screen and (max-width: 400px) {
            display: block;
        }
    }
    .login-form-register-now {
        padding-left: 15px;
        @media only screen and (max-width: 400px) {
            padding-left: 0;
            padding-top: 10px;
        }
        a {
            text-decoration: underline;
            color: $color__primary;
            &:hover {
                color: $white;
            }
        }
    }
    .reg-others-media {
        margin-top: 55px;
        @media only screen and (max-width: 1199px){
            margin-top: 30px;
        }
        .social-media-icons {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin: 35px -5px 0;
            @media only screen and (max-width: 1199px){
                margin-top: 20px;
            }
            @media only screen and (max-width: 767px){
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
            }
            > a {
                display: block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                background-color: $color__secondary;
                text-align: center;
                margin: 0 5px;
                &:hover {
                    background-color: $color__primary;
                    border-color: $color__primary;
                    color: $white;
                }
            }
        }
    }
}
