/*-------------------------------------------------------------------
    [ ## Single Posts ]
*/
.blog-single-page {
    position: relative;
    padding-left: 95px;
    @media only screen and (max-width: 575px){
        padding-left: 0;
    }
    .social-share-post {
        position: absolute;
        width: 95px;
        left: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        top: 0;
        -ms-flex-flow: column;
            flex-flow: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        @media only screen and (max-width: 575px){
            display: none;
        }
        a {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            line-height: 45px;
            color: $white;
            background-color: $color__secondary;
            text-align: center;
            margin-bottom: 8px;
            -webkit-transition: all 0.25s;
            transition: all 0.25s;
            &:hover,
            &:focus {
                color: $white;
                background-color: $color__primary;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}
.post.single-post {
    margin-bottom: 0px;
    text-align: left;
    position: relative;
    padding-bottom: 0px;
    border-bottom: 0px solid;
    h3, h4, h5, h6 {
        margin-bottom: 10px;
        font-weight: 700;
        padding-top: 15px;
    }
    h3 {
        font-size: 22px;
    }
    .post-thumb {
        margin-bottom: 0;
    }
    .post-details {
        padding: 25px 0px 55px;
    }
    ul, ol {
        li {
            margin-top: 10px;
            line-height: 1.6em;
        }
    }
    > ul,
    > ol {
        padding-left: 20px;
    }
    table {
        margin-bottom: 30px;
    }
    .image-group {
        padding-top: 20px;
    }
    iframe {
        border: 0px solid;
    }
    figure {
        margin-bottom: 30px;
        span {
            color: #979797;
            font-size: 12px;
            display: block;
            padding: 13px 0 25px;
        }
    }
    blockquote {
        padding: 35px 15px;
        position: relative;
        text-align: center;
        @media only screen and (max-width: 767px){
            padding: 15px 0px;
        }
        &:before {
            position: absolute;
            content: "\f109";
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50% , -50%);
                    transform: translate(-50% , -50%);
            font-family: $font-icomoon;
            color: #31343D;
            font-size: 140px;
            opacity: 0.7;
        }
        img {
            margin-bottom: 25px;
            border-radius: 0px;
        }
        p {
            margin-bottom: 10px;
            position: relative;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.6em;
            font-style: italic;
            @media only screen and (max-width: 991px){
                font-size: 18px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            cite {
                margin-left: 0;
                padding-left: 0;
            }
        }
        cite, a, span {
            padding: 0 1.2em;
            font-size: 0.8em;
            font-weight: 500;
            font-style: normal;
            position: relative;
        }
        cite {
            display: block;
        }
        cite:before {
            content: "--";
            padding-right: 5px;
        }
    }
}

/* [ ## Post Author ] */
.author-info {
    padding: 60px 30px;
    text-align: center;
    background-color: $color__secondary;
    @media only screen and (max-width: 991px){
        padding: 40px 15px;
    }
    .at-img > img {
        border-radius: 50%;
        height: 90px;
        width: 90px;
    }
    .info {
        padding-bottom: 15px;
        .authors-bio {
            font-size: 17px;
            margin-bottom: 20px; 
        }
        .author-name {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 0px;
            color: $color__heading;
            line-height: 1.2em;
            text-transform: capitalize;
        }
        .author-designation {
            font-size: 16px;
            opacity: 0.8;
        }
    }
}
